*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf);
}

body{
    width: 1980px;
    height: 6124px;
}

header{
    display: flex;
    justify-content: center;
}

.nav{
    margin-top: 25px;
    width: 1350px;
    height: 54px;
    display: flex;
    align-items: center;
}

.name{
    width: 240px;
    height: 48px;
    align-items: center;
}

.Poppins-Regular{
    font-family: 'Poppins-Regular';
    font-size: 2rem;
    letter-spacing: 5%;
    color: #444444;
}

.Poppins-ExtreBold{
    font-family: 'Poppins-ExtraBold';
    font-size: 2rem;
}

.main-nav{
    margin-left: 25.75em;
    width: 442px;
    height: 24px;
    display: flex;
}

a{
    text-decoration: none;
    color: #444444;
}

li{
    font-family: 'Poppins-Regular';
    font-size: 1rem;
    color: #444444;
    display: inline-block;
    margin-left: 2.8125em;
}

.Home{
    font-family: 'Poppins-Bold';
    margin: 0;
}

.search{
    size: 18px;
    margin-left: 1.875em;
    margin-right: 1.125em;
}

.pay-block{
    width: 178px;
    height: 54px;
    background-color: #444444;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-text{
    font-family: 'Poppins-Medium';
    color: #FFFFFF;
}